<!--
  CSS selector for site.
-->

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<style>
  #sidebar{
    background-image : url("/images/main1.jpg");
    background-position : center;
    background-repeat : false;
    background-size: cover;
  }
  #sidebar .nav-item.active .nav-link {
    color: #fcfcfc;
    font-size: 20px;
  }
  #sidebar a {
    color: #dbdadaf6;
    transition: color 0.35s ease-in-out;
    user-select: none;
  }
</style>

{% if site.toc and page.toc %}
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/afeld/bootstrap-toc@1.0.1/dist/bootstrap-toc.min.css">
{% endif %}
